* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --primary-color: purple;
    --secondary-color: yellow;
  }

  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 35px;
    flex: 1;
    /* margin-top: 15px; */
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding-top: 20px;
  }

  .start-btn {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin-top: 150px;
    font-size: 50px;
    text-align: center;
  }

  .start-btn:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
  }

  .start-div {
    text-align: center;
  }

  .timer-sec {
    font-size: 30px;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    /* margin-bottom: 15px; */
    padding-top: 55px;
    flex: 1;
   /* margin-top: 15px; */
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 30px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .getName {
    display: none;
  }

  .restart-btn {
    display: none;

  }


 /* header h1 {
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
} */

 
a {
  text-decoration: none;
  color: yellow;
}

.pastAnswer {
  width: 215px;
  margin-left: 25px;
}
.pastTitle {
  margin-left: 25px;
}

/* main {
  /* display: flex; */


.btn {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  margin-top: 150px;
  font-size: 25px;
  text-align: center;
 
}

.btn:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.restart-btn {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  /* margin-top: 50px; */
  font-size: 25px;
  text-align: center;
  margin: auto;
  margin-top: 15px;
  
  
}

.restart-btn:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.initials-btn {
  text-align: center;
  padding-left: 25px;
}

.initials {
  text-align: center;
  padding-left: 25px;
}

.highScores {
text-align: center;
margin: auto;
}

.backBtn {
  text-align: center;
  margin: auto;
}

.highList {
  color: var(black);
  font-size: 25px;
  padding: 3px;
}

#clearScores {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-size: 25px;
  text-align: center;
  margin-top: 15px;
}